@each $color, $value  in $colors {
    .alert-#{$color}{
        padding: 1% 50px;
        margin: 20px;
        border:none;
        border-radius: 15px;
        background-color: #{$value};
            
    }
    
}