* {
  box-sizing: border-box;
}

.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1;
}

.col-s-12, .col-l-12, .col-m-12, .col-s-11, .col-l-11, .col-m-11, .col-s-10, .col-l-10, .col-m-10, .col-s-9, .col-l-9, .col-m-9, .col-s-8, .col-l-8, .col-m-8, .col-s-7, .col-l-7, .col-m-7, .col-s-6, .col-l-6, .col-m-6, .col-s-5, .col-l-5, .col-m-5, .col-s-4, .col-l-4, .col-m-4, .col-s-3, .col-l-3, .col-m-3, .col-s-2, .col-l-2, .col-m-2, .col-s-1, .col-l-1, .col-m-1, .col-s-0, .col-l-0, .col-m-0 {
  float: left;
  position: relative;
  min-width: 1px;
  padding: 0 10px;
  background-color: #c9c9cf;
  border: 1px solid black;
}

.row {
  margin: 0 10px;
}

.col-s-hidden {
  display: none;
}

.m-show {
  display: none;
}

.l-show {
  display: none;
}

.col-s-push-0 {
  left: 0%;
}

.col-s-offset-0 {
  margin-left: 0%;
}

.col-s-1 {
  width: 8.3333333333%;
}

.col-s-push-1 {
  left: 8.3333333333%;
}

.col-s-offset-1 {
  margin-left: 8.3333333333%;
}

.col-s-2 {
  width: 16.6666666667%;
}

.col-s-push-2 {
  left: 16.6666666667%;
}

.col-s-offset-2 {
  margin-left: 16.6666666667%;
}

.col-s-3 {
  width: 25%;
}

.col-s-push-3 {
  left: 25%;
}

.col-s-offset-3 {
  margin-left: 25%;
}

.col-s-4 {
  width: 33.3333333333%;
}

.col-s-push-4 {
  left: 33.3333333333%;
}

.col-s-offset-4 {
  margin-left: 33.3333333333%;
}

.col-s-5 {
  width: 41.6666666667%;
}

.col-s-push-5 {
  left: 41.6666666667%;
}

.col-s-offset-5 {
  margin-left: 41.6666666667%;
}

.col-s-6 {
  width: 50%;
}

.col-s-push-6 {
  left: 50%;
}

.col-s-offset-6 {
  margin-left: 50%;
}

.col-s-7 {
  width: 58.3333333333%;
}

.col-s-push-7 {
  left: 58.3333333333%;
}

.col-s-offset-7 {
  margin-left: 58.3333333333%;
}

.col-s-8 {
  width: 66.6666666667%;
}

.col-s-push-8 {
  left: 66.6666666667%;
}

.col-s-offset-8 {
  margin-left: 66.6666666667%;
}

.col-s-9 {
  width: 75%;
}

.col-s-push-9 {
  left: 75%;
}

.col-s-offset-9 {
  margin-left: 75%;
}

.col-s-10 {
  width: 83.3333333333%;
}

.col-s-push-10 {
  left: 83.3333333333%;
}

.col-s-offset-10 {
  margin-left: 83.3333333333%;
}

.col-s-11 {
  width: 91.6666666667%;
}

.col-s-push-11 {
  left: 91.6666666667%;
}

.col-s-offset-11 {
  margin-left: 91.6666666667%;
}

.col-s-12 {
  width: 100%;
}

.col-s-push-12 {
  left: 100%;
}

.col-s-offset-12 {
  margin-left: 100%;
}

.col-s-center {
  margin: 0 auto;
  float: none;
}

@media only screen and (min-width: 540px) {
  .col-m-push-0 {
    left: 0%;
  }

  .col-m-offset-0 {
    margin-left: 0%;
  }

  .col-m-1 {
    width: 8.3333333333%;
  }

  .col-m-push-1 {
    left: 8.3333333333%;
  }

  .col-m-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-m-2 {
    width: 16.6666666667%;
  }

  .col-m-push-2 {
    left: 16.6666666667%;
  }

  .col-m-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-m-3 {
    width: 25%;
  }

  .col-m-push-3 {
    left: 25%;
  }

  .col-m-offset-3 {
    margin-left: 25%;
  }

  .col-m-4 {
    width: 33.3333333333%;
  }

  .col-m-push-4 {
    left: 33.3333333333%;
  }

  .col-m-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-m-5 {
    width: 41.6666666667%;
  }

  .col-m-push-5 {
    left: 41.6666666667%;
  }

  .col-m-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-m-6 {
    width: 50%;
  }

  .col-m-push-6 {
    left: 50%;
  }

  .col-m-offset-6 {
    margin-left: 50%;
  }

  .col-m-7 {
    width: 58.3333333333%;
  }

  .col-m-push-7 {
    left: 58.3333333333%;
  }

  .col-m-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-m-8 {
    width: 66.6666666667%;
  }

  .col-m-push-8 {
    left: 66.6666666667%;
  }

  .col-m-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-m-9 {
    width: 75%;
  }

  .col-m-push-9 {
    left: 75%;
  }

  .col-m-offset-9 {
    margin-left: 75%;
  }

  .col-m-10 {
    width: 83.3333333333%;
  }

  .col-m-push-10 {
    left: 83.3333333333%;
  }

  .col-m-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-m-11 {
    width: 91.6666666667%;
  }

  .col-m-push-11 {
    left: 91.6666666667%;
  }

  .col-m-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-m-12 {
    width: 100%;
  }

  .col-m-push-12 {
    left: 100%;
  }

  .col-m-offset-12 {
    margin-left: 100%;
  }

  .col-m-center {
    margin: 0 auto;
    float: none;
  }

  .col-m-hidden {
    display: none;
  }

  .m-show {
    display: block;
  }

  .s-show {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .col-l-push-0 {
    left: 0%;
  }

  .col-l-offset-0 {
    margin-left: 0%;
  }

  .col-l-1 {
    width: 8.3333333333%;
  }

  .col-l-push-1 {
    left: 8.3333333333%;
  }

  .col-l-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-l-2 {
    width: 16.6666666667%;
  }

  .col-l-push-2 {
    left: 16.6666666667%;
  }

  .col-l-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-l-3 {
    width: 25%;
  }

  .col-l-push-3 {
    left: 25%;
  }

  .col-l-offset-3 {
    margin-left: 25%;
  }

  .col-l-4 {
    width: 33.3333333333%;
  }

  .col-l-push-4 {
    left: 33.3333333333%;
  }

  .col-l-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-l-5 {
    width: 41.6666666667%;
  }

  .col-l-push-5 {
    left: 41.6666666667%;
  }

  .col-l-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-l-6 {
    width: 50%;
  }

  .col-l-push-6 {
    left: 50%;
  }

  .col-l-offset-6 {
    margin-left: 50%;
  }

  .col-l-7 {
    width: 58.3333333333%;
  }

  .col-l-push-7 {
    left: 58.3333333333%;
  }

  .col-l-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-l-8 {
    width: 66.6666666667%;
  }

  .col-l-push-8 {
    left: 66.6666666667%;
  }

  .col-l-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-l-9 {
    width: 75%;
  }

  .col-l-push-9 {
    left: 75%;
  }

  .col-l-offset-9 {
    margin-left: 75%;
  }

  .col-l-10 {
    width: 83.3333333333%;
  }

  .col-l-push-10 {
    left: 83.3333333333%;
  }

  .col-l-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-l-11 {
    width: 91.6666666667%;
  }

  .col-l-push-11 {
    left: 91.6666666667%;
  }

  .col-l-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-l-12 {
    width: 100%;
  }

  .col-l-push-12 {
    left: 100%;
  }

  .col-l-offset-12 {
    margin-left: 100%;
  }

  .col-l-center {
    margin: 0 auto;
    float: none;
  }

  .col-l-hidden {
    display: none;
  }

  .l-show {
    display: block;
  }

  .m-show {
    display: none;
  }
}
.img-blur, .img-thumbnail, .img-circle, .img-rounded, .img-responsive {
  max-width: 100%;
  height: auto;
}

.img-rounded {
  border-radius: 40px 40px;
}

.img-circle {
  border-radius: 50%;
}

.img-thumbnail {
  border: 1px solid #b8b6b6;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  box-shadow: 0 0 2px 1px rgba(80, 89, 92, 0.5);
}

.img-blur {
  filter: blur(10px);
}

.btn-blue {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #007bff;
  color: #faf1f1;
}
.btn-blue:hover {
  background-color: rgba(0, 123, 255, 0.5);
}

.btn-indigo {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #6610f2;
  color: #000000;
}
.btn-indigo:hover {
  background-color: rgba(102, 16, 242, 0.5);
}

.btn-purple {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #6f42c1;
  color: #000000;
}
.btn-purple:hover {
  background-color: rgba(111, 66, 193, 0.5);
}

.btn-pink {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #e83e8c;
  color: #000000;
}
.btn-pink:hover {
  background-color: rgba(232, 62, 140, 0.5);
}

.btn-red {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #ff021c;
  color: #000000;
}
.btn-red:hover {
  background-color: rgba(255, 2, 28, 0.5);
}

.btn-orange {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #fd7e14;
  color: #000000;
}
.btn-orange:hover {
  background-color: rgba(253, 126, 20, 0.5);
}

.btn-yellow {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #ffc107;
  color: #000000;
}
.btn-yellow:hover {
  background-color: rgba(255, 193, 7, 0.5);
}

.btn-green {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #28a745;
  color: #faf1f1;
}
.btn-green:hover {
  background-color: rgba(40, 167, 69, 0.5);
}

.btn-teal {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #20c997;
  color: #faf1f1;
}
.btn-teal:hover {
  background-color: rgba(32, 201, 151, 0.5);
}

.btn-cyan {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #17a2b8;
  color: #faf1f1;
}
.btn-cyan:hover {
  background-color: rgba(23, 162, 184, 0.5);
}

.btn-white {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
  color: #000000;
}
.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.btn-gray {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #6b6b6b;
  color: #faf1f1;
}
.btn-gray:hover {
  background-color: rgba(107, 107, 107, 0.5);
}

.btn-dark {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #000000;
  color: #faf1f1;
}
.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-thomas {
  padding: 1% 50px;
  border: none;
  border-radius: 15px;
  background-color: #34eb96;
  color: #000000;
}
.btn-thomas:hover {
  background-color: rgba(52, 235, 150, 0.5);
}

.txt-blue {
  color: #007bff;
}

.txt-indigo {
  color: #6610f2;
}

.txt-purple {
  color: #6f42c1;
}

.txt-pink {
  color: #e83e8c;
}

.txt-red {
  color: #ff021c;
}

.txt-orange {
  color: #fd7e14;
}

.txt-yellow {
  color: #ffc107;
}

.txt-green {
  color: #28a745;
}

.txt-teal {
  color: #20c997;
}

.txt-cyan {
  color: #17a2b8;
}

.txt-white {
  color: white;
}

.txt-gray {
  color: #6b6b6b;
}

.txt-dark {
  color: black;
}

.txt-thomas {
  color: #34eb96;
}

.alert-blue {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #007bff;
}

.alert-indigo {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #6610f2;
}

.alert-purple {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #6f42c1;
}

.alert-pink {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #e83e8c;
}

.alert-red {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #ff021c;
}

.alert-orange {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #fd7e14;
}

.alert-yellow {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #ffc107;
}

.alert-green {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #28a745;
}

.alert-teal {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #20c997;
}

.alert-cyan {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #17a2b8;
}

.alert-white {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #ffffff;
}

.alert-gray {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #6b6b6b;
}

.alert-dark {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #000000;
}

.alert-thomas {
  padding: 1% 50px;
  margin: 20px;
  border: none;
  border-radius: 15px;
  background-color: #34eb96;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  border-radius: 15px;
  position: relative;
}
.nav .nav-header {
  display: inline;
}
.nav .nav-header .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #ffffff;
  padding: 10px 10px 10px 10px;
}
.nav .nav-btn {
  display: none;
}
.nav .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}
.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
}
.nav .nav-links a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav #nav-check {
  display: none;
}

@media only screen and (max-width: 540px) {
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav .nav-btn label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav .nav-btn label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav .nav-btn label span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav .nav-links a {
    display: block;
    width: 100%;
  }

  #nav-check:not(:checked) + .nav-links {
    height: 0px;
  }

  #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.element {
  width: 100px;
  background-color: rgba(48, 51, 50, 0.3);
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.infobulle {
  transform: scale(0) rotateX(-50deg);
  position: absolute;
  background-color: #231e2ccb;
  color: white;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  box-shadow: 1px 1px 0 0.5px rgba(0, 68, 255, 0.3);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  transition: 1s;
}
.infobulle::before {
  content: "";
  position: absolute;
  border-bottom: 8px solid #231e2ccb;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  margin-top: -16px;
  margin-left: 10px;
}

.element:hover > .infobulle {
  transform: scale(1) rotateX(0deg);
}

.popin {
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 1.5rem;
  background-color: #fff;
  padding: 1rem 2rem;
}

.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  overflow: hiden;
  transition: 0.64s ease-in-out;
}
.popup-inner {
  position: relative;
  bottom: -100vw;
  right: -100vh;
  display: flex;
  align-items: center;
  max-width: 800px;
  max-height: 600px;
  width: 60%;
  height: 80%;
  background-color: #fff;
  transform: rotate(32deg);
  transition: 0.64s ease-in-out;
}
.popup__photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 40%;
  height: 100%;
  overflow: hidden;
}
.popup__photo img {
  width: auto;
  height: 100%;
}
.popup__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  height: 100%;
  padding: 4rem;
}
.popup__text h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0A0A0A;
}
.popup__text p {
  font-size: 0.875rem;
  color: #686868;
  line-height: 1.5;
}
.popup:target {
  visibility: visible;
  opacity: 1;
}
.popup:target .popup-inner {
  bottom: 0;
  right: 0;
  transform: rotate(0);
}
.popup__close {
  position: absolute;
  right: -1rem;
  top: -1rem;
  width: 3rem;
  height: 3rem;
  font-size: 0.875rem;
  font-weight: 300;
  border-radius: 100%;
  background-color: #0A0A0A;
  z-index: 4;
  color: #fff;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

#panneau {
  margin: 30px;
}
#panneau #onglets li {
  list-style: none;
  float: left;
  width: 125px;
  height: 30px;
  line-height: 30px;
  background: rgba(151, 148, 148, 0.726);
  text-align: center;
  margin-right: 5px;
  color: rgba(46, 43, 43, 0.829);
}
#panneau #onglets li.actif {
  background: #d1cfcf;
  color: black;
}
#panneau #contenus li {
  background: #e4e1e1;
  width: 500px;
  padding: 20px;
  display: none;
}
#panneau #contenus li.actif {
  display: block;
}

.bck-blue {
  background-color: #007bff;
}

.bck-indigo {
  background-color: #6610f2;
}

.bck-purple {
  background-color: #6f42c1;
}

.bck-pink {
  background-color: #e83e8c;
}

.bck-red {
  background-color: #ff021c;
}

.bck-orange {
  background-color: #fd7e14;
}

.bck-yellow {
  background-color: #ffc107;
}

.bck-green {
  background-color: #28a745;
}

.bck-teal {
  background-color: #20c997;
}

.bck-cyan {
  background-color: #17a2b8;
}

.bck-white {
  background-color: white;
}

.bck-gray {
  background-color: #6b6b6b;
}

.bck-dark {
  background-color: black;
}

.bck-thomas {
  background-color: #34eb96;
}

/*# sourceMappingURL=app.css.map */
